<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %} | PollarBoy </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />

</head>

<body>

    {% block content %} {% endblock %}

    
    <script src="/lib/jquery-3.4.1.min.js"></script>
    <script src="/main.js"></script>
    {% block script %}{% endblock %}
</body>

</html>