{% extends "layouts/default.html" %}

{% block title %} Thanks! For Creating a Poll! {% endblock %}

{% block content %}

<div class="main">
    <header>
        <h1 class="h1"><a href="#"> Awesome! You Created a Poll! </a></h1>
    </header>
    <div>
        <h3 style="color:green">💥 {{ infomsg }} </h3>
    </div>

    <div>
        <input type="text" value="https://pollarboy.glitch.me/p/{{slug}}/"">
        <hr>
        <h2> <a href="/p/{{slug}}/"> 💥 Visit Your Poll 💥 </a> </h2>

        

        

    </div>
    

    <a href="/maker"> &rightarrow; Create Another Poll </a> <br>
        <a href="/"> &leftarrow; Home </a>
        <br><br>

        {% include "partials/foot.html" %}
    </div>


    <!-- <br><br> -->

</div>
{% endblock %}

{% block script %}
<script>

</script>

{% endblock %}