{% extends "layouts/default.html" %}

{% block title %} Frontpage {% endblock %}

{% block content %}

<div class="main">
<header>
        <h1 class="h1"><a href="/"> 📬 PollarBoy </a></h1>
</header>
<div class="description" >
<p class="description"> PollarBoy is a simple and minimal link based polling webapp made for fun! </p>
</div>
<a href="/maker" class="button"> Create A Poll </a>

<div class="sample-poll-list">
    <h3> Here are some example polls </h3>
    <a id="boss" href="/p/catdog">Do You Like Cats 🐱 or Dogs 🐶?</a><br>
    <a id="boss" href="/p/liveonmars">Do You Want to Live on 👽 Mars?</a>
    <br><br>


</div>


<!-- <br><br> -->
{% include "partials/foot.html" %}
</div>

{% endblock %}
