{% extends "layouts/default.html" %}

{% block title %} {{ poll.title }} {% endblock %}

{% block content %}

<div class="main">
    <header>
        <h1 class="h1"><a href="#"> {{ poll.title }} </a></h1>
    </header>
    <div>
        <p style="color:red"> {{ msg }} </p>
        <p style="color:green">{{ infomsg }} </p>
    </div>

    <div>
        {% if canvote %}

        <h3>Vote Here : </h3>
        <div class="vote-item">
            {% for op in poll.options %}
            <a class="button poll-item" href="/p/{{ poll.slug }}/v/{{ op.slug }}">{{ op.name }}</a>
            {% endfor %}
        </div>

        {% else %}
        <h3 class="h1"><a href="#"> Sorry you have already voted! </a></h3>
        <h4 style="color:red">💥 You can only vote once for this poll. </h4>
        {% endif %}

    </div>
    <h4> <a href="/p/{{poll.slug}}/result/"> 💥 Result 💥 </a> </h4>

    <a href="/maker"> &leftarrow; Create Poll </a>
    <br><br>

    {% include "partials/foot.html" %}
</div>


<!-- <br><br> -->
<div id="cookieConsent">
    <div id="closeCookieConsent">x</div>
    This website is using cookies. <a href="http://www.whatarecookies.com/" target="_blank">More info</a>. <a class="cookieConsentOK">That's Fine</a>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){   
    setTimeout(function () {
        $("#cookieConsent").fadeIn(200);
     }, 1500);
    $("#closeCookieConsent, .cookieConsentOK").click(function() {
        $("#cookieConsent").fadeOut(200);
    }); 
}); 
</script>

{% endblock %}
